@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --text: #ffffff;
    --primary: #222222;
    --secondary: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    font-family: Poppins, sans-serif;
    color: var(--text);
}

a {
    color: var(--text);
}

header {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), var(--primary)), url("assets//background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    margin-left: 10vw;
}

.header-content h1 {
    font-size: 6rem;
}

.header-content p {
    font-size: 1.5rem;
}

#mission {
    display: flex;
    align-items: center;
    height: 30vh;
}

.mission-content {
    margin-left: 10vw;
}

.mission-content h2 {
    font-size: 3rem;
    margin-bottom: 2vh;
}

.mission-content p {
    font-size: 1.2rem;
}

#management {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.management-content h2 {
    font-size: 3rem;
    text-align: center;
}

.management-list {
    margin-top: 2rem;
}

.management-list li {
    display: inline-block;
    text-align: center;
}

.management-list a {
    text-underline-offset: 0.5rem;
    transition: text-underline-offset 0.3s ease;
}

.management-list a:hover {
    text-underline-offset: 0.3rem;
}

.management-head {
    border-radius: 40%;
    border: 0.5rem solid var(--secondary);
}

.management-list li:not(:last-child) {
    margin-right: 5vw;
}

#servers {
    display: flex;
    align-items: center;
    height: 60vh;
}

.servers-content {
    margin-left: 10vw;
}

.servers-content h2 {
    font-size: 3rem;
    margin-bottom: 2vh;
}

.servers-list {
    list-style-type: none;
}

.servers-list li {
    width: 80vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
    border-radius: 1rem;
    padding: 1rem;
}

.servers-list li > img {
    margin-right: 1rem;
}

.server-content {
    flex: 1;
}

.server-content p {
    margin-top: 0.8rem;
    font-size: 1.2rem;
}

.server-copy {
    display: flex;
    align-items: flex-start;
}

.server-copy h3 {
    font-size: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.server-copy img {
    height: 3rem;
    margin-top: 1rem;
}

.server-copy img {
    height: 3rem;
    margin-top: 1rem;
}

footer {
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    height: 15vh;
}

.footer-content {
    margin-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons {
    position: absolute;
    right: 10vw;
    display: flex;
    align-items: center;
}

.footer-icons img {
    height: 2.5rem;
}